* {
    box-sizing: border-box;
    margin: 0%;
    scroll-margin-top: 3em;
}

/*RESPONSIVE MOVIL*/

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: rgb(236, 235, 235);

}

header {
    grid-column: 1/ 13;
    grid-row: 1 / 2;
    background-image:  url(../img/head.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
}

header h2 {
    color: #7e0c0c;
    /*color del logo*/
    font-style: italic;
    text-align: center;
}

.nombreAlum {

    align-self: end;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
}

nav {
    grid-column: 1/ 13;
    grid-row: 2 / 3;
    background-color: #7e0c0c;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
   padding: 0.2em;
   display: flex;
   justify-content: start;
   margin: 0;
   padding: 0;
   
}
nav li {
    float: left;
    list-style-type: none;
    padding-right: 1.2em;
    padding-left: 1.2em;
}
nav a {
    display:block;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #f6c82d;
}

nav img {
    padding-left: 0.3em;
    width: 1em;
}
.navLogin {
    margin-left: auto;
    
} 
.dropdown-content a{

    padding: 0.8em;
    padding-right: 2em;
    
}
.dropdown-content {
    display: none;
    padding-top: 0.4em;
    position: absolute;
    background-color: #7e0c0c;
    box-shadow: 0 8px 16px 0 rgb(34, 33, 33);

}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #e9c44c;
    color: #7e0c0c;
}
.dropbtn:hover {
    background-color: #e9c44c;
    color: #7e0c0c;
}

.faq { 
    grid-column: 1 / 13 ;
    background-image: url(../img/fondoFaq2.jpg);
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    flex-direction: column;
}

.faq h1 {
    color: #7e0c0c;
    padding: 1.5rem;
    font-style: italic;
    margin-left: 2rem;

}

.faq li {
    margin: 1rem;

}
.pregunta {
    font-style: oblique;
    font-weight: bold;
    font-size: larger;
    padding: 1rem;
    color:darkblue;

}

.respuestas {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 1rem;
}


.respuesta, td {
    margin-bottom: 1rem;
    color: #000000;
    font-size: medium;
}


footer {
    grid-column: 1 / 13;
    border-top: #7e0c0c solid 0.5rem;
    border-bottom: #7e0c0c solid 0.5rem;
    background-image: url(../img/head.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer section article {
    padding: 1rem;
}

footer h4 {
    margin-bottom: 1rem;
}
.copyright {
    margin-bottom: 1rem;
}

/*RESPONSIVE TABLET O ESCRITORIO*/

@media (min-width: 720px) {

    .faq { 
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    
    .respuesta {
        max-width: 50%;
    }

    footer {
        grid-column: 1 / 13;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
    }

}