* {
    box-sizing: border-box;
    margin: 0%;
    scroll-margin-top: 3em;
}

/*RESPONSIVE MOVIL*/

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: rgb(236, 235, 235);

}

header {
    grid-column: 1/ 13;
    grid-row: 1 / 2;
    background-image: url(../img/head.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
}

header h2 {
    color: #7e0c0c;
    /*color del logo*/
    font-style: italic;
    text-align: center;
}

.nombreAlum {

    align-self: end;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
}

nav {
    grid-column: 1/ 13;
    grid-row: 2 / 3;
    background-color: #7e0c0c;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    padding: 0.2em;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;

}

nav li {
    float: left;
    list-style-type: none;
    padding-right: 1.2em;
    padding-left: 1.2em;
}

nav a {
    display: block;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #f6c82d;
}

nav img {
    padding-left: 0.3em;
    width: 1em;
}

.navLogin {
    margin-left: auto;

}

.dropdown-content a {

    padding: 0.8em;
    padding-right: 2em;

}

.dropdown-content {
    display: none;
    padding-top: 0.4em;
    position: absolute;
    background-color: #7e0c0c;
    box-shadow: 0 8px 16px 0 rgb(34, 33, 33);

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #e9c44c;
    color: #7e0c0c;
}

.dropbtn:hover {
    background-color: #e9c44c;
    color: #7e0c0c;
}

main {
    grid-column: 1/ 13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0.6em;
}

main article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 8%;
    margin: 0.5rem;
    border-radius: 1rem;
    border: groove;
    block-size: 95%;
    background: white;
}

.add {
    cursor: pointer;
    color: #7e0c0c;
    background: #e9c44c;
}

.add:hover {
    font-size: 105%;
}


.menuInfo {

    position: absolute;
    block-size: auto;
    margin-top: 2em;
    margin-bottom: 50%;
    padding: 3%;
    text-align: center;
    font-weight: bold;
    background-color: #fdeebc;
    color: #7e0c0c;
    border-radius: 1rem;
    opacity: 0;
    z-index: -1;
}

img {
    max-width: 100%;
    height: auto;
}

.carrito {
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 3%;
    margin: 0.5rem;
    border-radius: 1rem;
    border: groove;
    background: white;
    margin-bottom: auto;
    margin-top: 1.1em;

}
.negrita {
    font-weight: bold;
}
.margen {
    margin-left: 1em;
}
.carrito h2 {
    align-self: center;
    margin: 1.5rem;
}


.itemC {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.btnAdd {
    background-image: url(/img/mas.png);
    background-size: cover;
    width: 1.5em;
    height: 1.5em;
    border: none;

}

.btnAdd:hover {
    width: 1.8em;
    height: 1.8em;
}


.btnDel {
    background-image: url(/img/menos.png);
    background-size: cover;
    width: 1.5em;
    height: 1.5em;
    border: none;
}

.btnDel:hover {
    width: 1.8em;
    height: 1.8em;
}
.btnDelP {
    background-image: url(/img/borrar.png);
    background-size: cover;
    width: 1.9em;
    height: 2.7em;
    border: none;
    margin-left: auto;
}

.btnDelP:hover {
    width: 2.2em;
    height: 3em;
}
h4 {
    margin-top: 0.5em;
}


.precioC {
    background-color: #fdeebc;
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.total {
    display: flex;

}

.total h4 {
    background-color: #e9c44c;
    font-size: 1.5rem;
    margin: 1rem;
}

#resetCarrito {
    cursor: pointer;
    color: #7e0c0c;
    block-size: 40%;
    align-self: center;
}

#pagar {
    cursor: pointer;
    font-size: larger;
    background: #7e0c0c;
    color: white;
    padding: 0.2rem;
    margin: 1rem;
}

#pagar :hover {
    font-size: 105%;

}


footer {
    grid-column: 1/13;

    border-top: #7e0c0c solid 0.5rem;
    border-bottom: #7e0c0c solid 0.5rem;
    background-image: url(../img/head.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer section article {
    padding: 1rem;
}

footer h4 {
    margin-bottom: 1rem;
}

.copyright {
    margin-bottom: 1rem;
}

/*RESPONSIVE TABLET O ESCRITORIO*/

@media (min-width: 650px) {
    main {
        grid-column: 1/ 10;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .carrito {
        grid-column: 10 / 13;
        display: flex;
        flex-direction: column;
        align-items: start;
        block-size: auto;
    }

    .carrito article * {
        display: flex;

        align-items: end;
    }

    footer {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
    }

}