* {
   box-sizing: border-box;
   margin: 0%;
}

/*RESPONSIVE MOVIL*/

.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

header {
    grid-column: 1/ 13 ;
    grid-row: 1 / 2;
    background-image: url(../img/head.jpg);
    background-size: cover;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
}

header h2 {
    color:#7e0c0c;/*color del logo*/
    font-style: italic;
    text-align: center;
}

.nombreAlum {
       
    align-self: flex-end;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
}

nav {
    grid-column: 1/ 13 ;
    grid-row: 2 / 3;
    display:flex;
    justify-content: space-around;
    background-color:#7e0c0c;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #f6c82d;
}

#icoUsu {
    padding-top: 16px;
}

main {
    grid-column: 1/ 13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: groove;
}
main article:hover {
    
    animation-delay: 500ms;
    block-size: 96%;
    border-color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}



aside {
    grid-column: 1/13;
    border: solid;
}
footer {
    grid-column: 1/13;
    border: solid;
}

/*RESPONSIVE TABLET O ESCRITORIO*/

@media (min-width: 720px) {
    main {
        grid-column: 1/ 10;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

}

}



